
/* MEDIA QUERIES */
/* RESPONSIVE SM > 639 */
@media screen and (min-width:639px){
    /* UTILITIES */
    .aside-hidden{
        display: inline-block;
    }

    /* ASIDE */
    aside{
        width: 280px;
    }

    .top-aside,
    .bottom-aside{
        align-items:flex-start;
    }

    .top-aside > nav li{
        padding: 0 15px 0 12px; 
    }

    aside .top-aside > nav ul li{
        border-left: 3px solid transparent;
    }

    aside .top-aside > nav ul li.aside-selected{
        border-color: #adff2f;
    }

    .top-aside .playlist,
    .bottom-aside{
        padding: 10px 15px 0;
    }

    /* BOTTOM ASIDE */
    .bottom-aside a:first-child i{
    margin-bottom: 0;
    }

    /* -LOGO */
    aside .logo-small{
        display:none;
    }
}

/* RESPONSIVE MD > 768 */
@media screen and (min-width:768px){
    /* ---CARDS SECTIONS */
    .main-content .card{
    width: calc(100% / 4 - 15px);
}

}

/* RESPONSIVE LG > 1200 */
@media screen and (min-width:1200px){
    /* ---CARDS SECTIONS */
    .main-content .card{
    width: calc(100% / 6 - 15px);
}
}