/* MOBILE FIRST XS */
/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #a3a3a3;
}

h2,
h3,
h4,
h5{
    color: #fff;
}

body ul{
    list-style: none;
}

/* UTILITIES */
.aside-hidden{
    display: none;
}

.bd{
    border: 1px solid #000;
}

.ml-5{
    margin-left: 5px;
}

.ml-10{
    margin-left: 10px;
}

@keyframes pulse{
    50%{
        transform: scale(1.1);
    }
}

/* MAIN */
main{
    display: flex;
    height: calc(100vh - 81px);
    overflow-y: hidden;
}

/* -ASIDE */
aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 5px;
    width: 55px;
    height: 100%;
    font-size: 0.8rem;
    background-color: black;
}

aside a{
    color: currentColor;
    text-decoration: none;
    transition: color .2s;
}

aside a:hover{
    color:#fff;
}

.top-aside img{
    width: 25px;
    margin: 4px 0;
}

aside svg{
    width: 25px;
    margin: 4px 0;
}

aside svg path{
    fill: #a3a3a3;
    transition: fill .2s
}

aside a:hover svg path{
    fill: #fff;
}

/* --TOP-ASIDE */
.top-aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    min-height: 260px;
}

/* ---LOGO */
aside .logo-big{
    width: 120px;
    margin: 10px 15px 20px;
}

/* ---NAVBAR */
/* ---PLAYLIST */
.overflow-playlist{
    overflow-y: auto;
}

.playlist{
    font-size: 1rem;
}

.top-aside a{
    display: flex;
    align-items: center;
    border: 1px solid #000;
}

.top-aside .playlist .create-playlist{
    margin: 10px 10px 10px 0; 
    width: 35px;
    height: 35px;
    border: none;
    background-color: #a3a3a3;
    transition: background-color 0.2s;
}

.top-aside .playlist a:hover .create-playlist{
    background-color: white;
}

.top-aside .playlist .create-playlist i{
    font-size: 1.5rem;
    color: #000;
}

.top-aside .playlist ul{
    line-height: 2rem;
}

/* --BOTTOM ASIDE */
.bottom-aside{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.bottom-aside a{
    display: flex;
    align-items: center;
}

.bottom-aside a:first-child i{
    font-size: .8rem;
    margin-bottom: 15px;
}

.bottom-aside a:last-child img{
    width: 25px;
    height: 25px;
    background-color: #808080;
    border-radius: 50%;
}

.bottom-aside hr{
    width: 100%;
    margin: 7px 0;
    border-color: #808080;
}

/* -MAIN-CONTENT */
.main-content{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #141922;
}

/* --UPGRADE BAR */
.upgrade-bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 82px;
    width: 100%;
    background-color: rgba(0,0,0,.6);
    z-index: 5;
}

.upgrade-bar button{
    padding: 12px 30px;
    margin-right: 15px;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgba(0,0,0,.15);
    cursor: pointer;
}

.upgrade-bar button:hover{
    animation: pulse .8s linear infinite;
}

/* --CONTAINER-OVERFLOW */
.container-overflow{
    height: 100%;
    padding: 100px 0 0 20px;
    overflow-y: auto;
}

/* ---CONTENT MENU */
.container-overflow nav ul{
    padding-right: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container-overflow nav ul a{
    margin: 0 10px 30px;
    text-decoration: none;
    color: #7c7e83;
    font-weight: bold;
    font-size: .9rem;
    transition: color .2s;
}

.container-overflow nav ul hr{
    width: 30px;
    margin: 2px auto 0;
    border: 1px solid transparent;
}

.container-overflow nav ul a.content-selected hr{
    border-color: #adff2f;
}

.container-overflow nav ul a:hover{
    color: #fff;
}

/* ---CARDS SECTION */
.main-content section h2{
    margin: 3rem 0 .5rem;
}

.main-content .card{
    width: calc(100% / 2 - 15px);
    margin-right: 15px;
    text-align: center;
}

.card-lists{
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
}

.card img{
    width: 100%;
}

.card h4,
.card span{
    margin: 1rem 0;
}

.card span{
    font-size: .9rem;
}

.card .album-cover{
    position: relative;
}

.card .album-cover img{
    display: block;
}

.card .layover{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:100%;
    background-color: rgba(0,0,0,.4);
    opacity: 0;
    cursor: pointer;
    transition: opacity .2s;
}

.card .layover i{
    font-size: 4rem;
    color: #fff;
}

.container-overflow .card .album-cover:hover .layover{
    opacity: 1;
}

.container-overflow .card .album-cover:hover .layover i{
    animation: pulse .8s linear infinite;
}

/* ---POPULAR ARTIST */
.popular-artists .card-lists .album-cover img{
    border-radius: 50%;
}

/* FOOTER PLAYER*/
footer.player{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 81px;
    background-color: #282828;
    font-size: .7rem;
}

.player a{
    color: #a3a3a3;
    text-decoration: none;
    transition: color 0.2s;
}

.player i{
    transition: color 0.2s;
}

.player-left,
.player-right{
    display:flex;
    align-items: center;
    width:280px;
}

/* -PLAYER LEFT */
.player-left{
    padding-right: 25px;
}

.player-left img{
    margin-right: 1rem;
    width: 35px;
}

.player-left .save-song{
    margin-left: 1rem;
}

.player-left .save-song i{
    padding: 2px 5px;
    font-size: 1.1rem;
    color: #a3a3a3;
}

.player-left a:hover,
.player-left a:hover i,
.player-right a:hover i{
    color: #fff;
}

/* -PLAYER CENTER */
.player-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

/* --PLAYER-COMMANDS */
.player-center .player-commands{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.player-center .player-commands a{
    color: #fff;
}

.player-center .player-commands a:first-child{
    margin-right: 20px;
}

.player-center .player-commands a:last-child{
    margin-left: 20px;
}

.player-center .player-commands a:nth-child(3){
    font-size: 35px;
    margin: 0 35px;
    transition: transform .2s
}

.player-center .player-commands a:nth-child(3):hover{
    transform:scale(1.1);
}

.player-center .time-song-bar{
    display: flex;
    width: 100%;
    justify-content:center;
    align-items: center;
    color: #fff;
}

.player-center .time-bar{
    position: relative;
    margin: 0 5px;
    width: 100%;
    height: 3px;
    background-color:#5a5a5a;
    cursor: pointer;
}


/* -PLAYER RIGHT */
.player-right{
    display: flex;
    justify-content:flex-end;
    padding-left: 25px;
}

.player-right i{
    font-size: 1.1rem;
    padding: 0 10px;
}
.player-right .coda{
    position: relative;
}

.coda i:first-child{
    position: absolute;
    left: -8px;
    font-size: 16px;
}

.player-right .volume-bar{
    position: relative;
    margin-left: 10px;
    width: 100px;
    height: 3px;
    background-color:#5a5a5a;
    cursor: pointer;
}

/* GENERAL BAR SETTING */
.player .bar-active{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
    background-color:#c1c1c1;
    transition: background-color .2s;
}

.player .bar:hover .bar-active{
    background-color:#adff2f;
}

.ball-time{
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    height: 19px;
    width: 19px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.2s;
}

.player .bar:hover .ball-time{
    opacity: 1;
}

.player-right .bar-active{
    width: 30%;
}